.sidebar {
  width: 260px;
  background-color: white;
  border-right: 1px solid rgba(33, 63, 125, 0.1);
  overflow-y: auto;
  flex-shrink: 0;
  position: fixed;
  left: 0;
  top: 5rem; // Height of navbar
  bottom: 0;

  &__content {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;

    &-text {
      margin-left: 0.5rem;
      color: #213f7d;
      font-weight: 700;
      font-size: 1.25rem;
    }
  }

  &__org-switch {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    color: #213f7d;

    &-text {
      margin-left: 0.5rem;
      font-size: 0.875rem;
    }

    &-icon {
      margin-left: 0.5rem;
    }
  }

  &__dashboard-link {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    color: #213f7d;

    &-text {
      margin-left: 0.5rem;
      font-size: 0.875rem;
    }
  }

  &__section {
    margin-bottom: 2rem;

    &-title {
      font-size: 0.75rem;
      color: #545f7d;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    color: #545f7d;
    text-decoration: none;
    transition: all 0.2s ease;

    &-text {
      margin-left: 0.5rem;
    }

    &--active {
      background-color: rgba(33, 63, 125, 0.1);
      border-left: 4px solid #39cdcc;
      color: #213f7d;
    }

    &:hover:not(&--active) {
      background-color: rgba(33, 63, 125, 0.05);
    }
  }
}
