// Base styles and variables
@import "./_variables";

// Import component styles
@import "./components/navbar";
@import "./components/sidebar";
@import "./components/users";
@import "./components/user-stats";
@import "./components/user-table";
@import "./components/pagination";
@import "./components/login";
@import "./components/layout";
@import "./components/user-details";
@import "./components/dashboard";
@import "./components/not-found"; // Add this line
@import "./components/filter-menu";
@import "./components/loading";
@import "./components/error";

// Base styles
body {
  background: var(--background);
  color: var(--foreground);
  font-family: $font-family;
}

// Utilities
.text-balance {
  text-wrap: balance;
}
